html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body * {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#name {
  font-size: 2rem;
}
